*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: black;
}

b{
    color: blue;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 15px
}

nav img{
    width: 80px;
    height: 60px;
    margin: 12px
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li{
    list-style-type: none;
    justify-content: center;
    margin: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 530;
}

.conteudo-principal{
    display: flex;
    margin: 0;
    gap: 20px;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.249);
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.texto-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 500px;
}

.texto-conteudo h1{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}

.texto-conteudo p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}



.conteudo-principal img{
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 50px;

}

.conteudo-principal img{
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 50px;

}

.conteudo{
    display: flex;
    flex-direction: column;

    margin: 0;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.078);
    padding: 5px;
    border-radius: 30px;
    
}

.cabecalho_proposta{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px 4% 

}

.cabecalho_links_proposta {
    background-color:aqua;
    border-radius: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 25px;

}

.especialidades{
    font-family:'Montserrat', sans-serif ;
    margin: 80px;
    
}

.especialidades .flex{
    gap: 60px;
}

h2{
    font-size: 26px;
    text-align: center;
}

.especialidades-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;

}

.especialidades-box:hover{
    transform: sale(1.05);
    box-shadow: 0 0 8px rgba(1, 187, 255, 0.942);
}

.especialidades-box i{
    font-size: 40px;
    color: blue;
}

.especialidades-box h3{
    font-size: 22px;
    margin: 7px 0;
}

footer i{
    font-size: 25px;
    color: blue;
}

strong{
    color: blue;
 }

 .conteudo-equipe{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.conteudo-equipe img{
    width: 70px;
    height: 70px;
}

.conteudo-solucao{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    align-items: center;
}

.conteudo-solucao img{
    display: flex;
    width: 80%;
    height: 550px;
    padding-left: 90px;
    margin-top: 40px;
    
}

.conteudo-solucao h1{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}

.conteudo-solucao p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.conteudo-orgonograma{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    align-items: center;
}

.conteudo-orgonograma img{
    display: flex;
    width: 80%;
    height: 550px;
    padding-left: 140px;
    margin-top: 40px;
    
}

.conteudo-orgonograma h1{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}

.conteudo-orgonograma p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


